.filterLabel {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    
}


.filterInput {
    width: 150px;
    margin-top: 10px;
    background-color: #fff;
    border: 1px solid lightgrey;
    border-radius: 5px;
    cursor: pointer;
}

.filterInput:focus {
    border-color: rgb(37, 137, 224);
    outline: 2px solid rgb(37, 137, 224, 0.4);
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}