.form {
    width: 300px;
    margin-bottom: 20px;
    padding: 15px;
    /* border: 2px solid black; */
  }
  
  .formLabel {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin-bottom: 15px;
   
  }
  .formInput {
    padding: 5px;
    border: 1px solid black;
  }
  
  .button {
    width:100px;
    padding: 4px;
    background-color: #e8dfdf;
    border: 1px solid darkgrey;
    
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button:hover,
  .button:focus {
    background-color: lightskyblue;
  }
  
  
  