.form {
  width: 300px;
  margin-bottom: 20px;
  padding: 15px;
  border: 2px solid black;
}

.formLabel {
  display: flex;
  flex-direction: column;
  width: 150px;
  margin-bottom: 15px;
}
.formInput {
  border: 1px solid lightgrey;
}

.addButton {
  background-color: #fff;
  border: 1px solid lightgrey;
  border-radius: 5px;
  cursor: pointer;
}

.addButton:hover,
.addButton:focus {
  background-color: lightskyblue;
}




/* .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  color: red;
  font-size: 12px;
}
.form {
  display: flex;
  flex-direction: column;

  padding: 20px;
  gap: 10px;
  border: 2px solid black;
  border-radius: 5px;

  & button {
    padding: 10px 15px;
    border-radius: 8px;
    border: black;
  }
}
.label {
  gap: 5px;
  display: flex;
  flex-direction: column;
  & span {
    font-weight: bold;
  }
}
.input {
  border-radius: 8px;
  padding: 5px;
} */
